body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
    color: white;
}

/* ===== БАННЕР ===== */
.hero {
    height: 33vh;
    background: url("images/banner.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 40px;
    background: rgba(0,0,0,0.6);
    padding: 15px 25px;
    border-radius: 10px;
}

/* ===== ТОВАРЫ ===== */
.products {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.card {
    width: 220px;
    background: #111;
    border-radius: 12px;
    text-align: center;
    padding: 15px;
    transition: 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    background: #1c1c1c;
}

/* ===== ТЕКСТ ===== */
.about {
    text-align: center;
    padding: 30px;
}

/* ===== ПОДВАЛ ===== */
footer {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #333;
    font-size: 14px;
}
