body{
margin:0;
font-family:Arial;
background:#1c2220;
color:#e5e5e5;
margarin-left:70px;
}


/* верхняя полоска */
.topbar{
background:#1c2220;
color:#e5e5e5;
padding:6px 20px;
display:flex;
justify-content:flex-end;
}

.topbar a{
color:#cfd6d4;
margin-left:0px;
text-decoration:none;
}

.top-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.top-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.2s;
}

.top-icon:hover {
    transform: scale(1.15);
}

.phone{
    margin-left:15px;
    padding-left:15px;
    position:relative;
}

/* вертикальная палочка */
.phone::before{
    content:"";
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    width:1px;
    height:18px;
    background:#8aa39c; /* цвет линии */
}

/* ===== SIDEBAR ===== */

.sidebar{
position:fixed;
left:0;
top:0;
height:100vh;
width:60px;
background:#000000; /* темно-синий */
transition:width 0.3s ease;
overflow:hidden;
z-index:1000;
display:flex;
flex-direction:column;
}

/* раскрытие */
.sidebar:hover{
width:220px;
}

/* верх */
.sidebar-header{
display:flex;
align-items:center;
gap:15px;
padding:20px 15px;
color:white;
border-bottom:1px solid rgba(255,255,255,0.1);
}

.menu-icon{
font-size:22px;
min-width:30px;
text-align:center;
}

.menu-title{
opacity:0;
transition:0.3s;
white-space:nowrap;
}

/* показываем текст при раскрытии */
.sidebar:hover .menu-title,
.sidebar.open .menu-title{
opacity:1;
}

/* пункты */
.side-item{
display:flex;
align-items:center;
gap:15px;
padding:18px 15px;
color:white;
text-decoration:none;
transition:0.25s;
}

.side-item span{
opacity:0;
white-space:nowrap;
transition:0.3s;
}

.sidebar:hover .side-item span,
.sidebar.open .side-item span{
opacity:1;
}

.side-item:hover{
background:#132a55;
}

/* меню */
.navbar{
    margin-left:70px;
    background:#2a3230;
    display:flex;
    align-items:center;
    padding:6px 15px;
}

.logo{
height:70px;
margin:0 auto 0 20px;     
}

.search{
    width:500px;     /* регулируешь размер */
    padding:10px;
    background:#1f2624;
    border:none;
    color:white;
    border-radius:6px;
}

.icons{
display:flex;
gap:15px;
margin-left:auto; /* ← магия */
}

.icon{
cursor:pointer;
position:relative;
}

.cart span{
position:absolute;
top:-8px;
right:-10px;
background:#2e7dff;
padding:5px 9px;
border-radius:10px;
font-size:12px;
}

.sidebar.open{
    width:220px;
}

.navbar button{
    margin-left:10px;
}

/* баннер */
.banner{
    margin:20px 220px;
    background:#2a3230;
    padding:10px;
    border-radius:10px;
}

.banner img{
    width:100%;
    height:260px;        /* ← регулируешь размер баннера */
    object-fit:cover;    /* красиво обрезает */
    border-radius:8px;
}

/* товары */
.section-title{
margin-left:220px;
}

.products{
margin-left:220px;
display:flex;
gap:25px;
padding:20px;
}

.card{
background:#2a3230;
padding:15px;
border-radius:10px;
width:200px;
cursor:pointer;
transition:.3s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
border-radius:8px;
}

/* отзывы */
.reviews{
margin:40px 220px;
}

.reviews iframe{
width:100%;
height:300px;
border:none;
}

/* футер */
footer{
background:#141918;
text-align:center;
padding:30px;
margin-top:40px;
}

button{
background:#2e7dff;
border:none;
color:white;
padding:10px 15px;
border-radius:12px;
cursor:pointer;
}

/* корзина */
.cartModal{
position:fixed;
top:0;
right:-400px;
width:350px;
height:100%;
background:#202826;
padding:20px;
transition:0.4s;
overflow-y:auto;
z-index:1000;
}

.cartModal.open{
right:0;
}

.overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
display:none;
z-index:900;
}

.overlay.show{
display:block;
}

.about {
    background: #2f3836;        /* чуть светлее основного фона */
    color: #CFD6D4;             /* светло-серый текст */
    padding: 50px 50px;         /* внутренние отступы */
    border-radius: 10px;        /* закруглённые углы */
    margin: 40px 0;             /* отступ сверху и снизу от других блоков */
    box-sizing: border-box;
}

.about h2 {
    margin-bottom: 15px;
    font-size: 28px;
    color: #2E7DFF;             /* акцентный цвет заголовка */
}

.about p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 100%;
}
